*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#f4fbe9;
  color:#333;
  line-height:1.6;
}

header{
  background:linear-gradient(to right, #240606, #4e0909);
  color:white;
  text-align:center;
  padding:40px 20px;
}

header h1{
  font-size:2.5rem;
  margin-bottom:10px;
}

#idioma{
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    z-index: 999;
}

nav{
  background:#1b5e20;
  padding:15px;
  text-align:center;
}

nav a{
  color:white;
  text-decoration:none;
  margin:0 15px;
  font-weight:bold;
}

nav a:hover{
  color:#c8e6c9;
}

section{
  padding:40px 20px;
  max-width:1000px;
  margin:auto;
}

.card{
  background:white;
  padding:25px;
  margin:20px 0;
  border-radius:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.imagem{
  width:100%;
  border-radius:15px;
  margin-top:15px;
}

ul{
  margin-top:15px;
  padding-left:20px;
}

footer{
  background:#3e0d0a;
  color:white;
  text-align:center;
  padding:20px;
  margin-top:30px;
}

.botao{
  display:inline-block;
  margin-top:20px;
  background:#43a047;
  color:white;
  padding:12px 20px;
  border:none;
  border-radius:10px;
  text-decoration:none;
  cursor:pointer;
  transition:0.3s;
}

.botao:hover{
  background:#2e7d32;
}

/* CALCULADORAS */

.calculadora{
  margin-top:30px;
  background:#e8f5e9;
  padding:25px;
  border-radius:15px;
}

.calculadora h2{
  color:#1b5e20;
  margin-bottom:15px;
}

.calculadora p{
  margin-bottom:15px;
}

.calculadora label{
  display:block;
  margin-top:15px;
  font-weight:bold;
}

.calculadora input{
  width:100%;
  padding:12px;
  margin-top:5px;
  border:1px solid #ccc;
  border-radius:10px;
  font-size:16px;
}

.calculadora button{
  margin-top:20px;
  background:#1b5e20;
  color:white;
  border:none;
  padding:12px 20px;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
  font-size:16px;
}

.calculadora button:hover{
  background:#2e7d32;
}

/* RESULTADOS */

.resultado-box{
  margin-top:25px;
  background:#f1f8e9;
  padding:20px;
  border-radius:10px;
}

#resultadoAgua,
#resultadoPoluicao{
  margin-top:10px;
  color:#2e7d32;
  font-size:22px;
  font-weight:bold;
}

#nivel{
  margin-top:15px;
  font-size:20px;
  font-weight:bold;
}

#dicas{
  margin-top:20px;
}

#dicas li{
  margin-bottom:10px;
}

/* TEMA ESCURO */

.escuro{
  background:#222;
  color:white;
}

.escuro .card{
  background:#333;
  color:white;
}

.escuro .calculadora{
  background:#444;
}

.escuro .resultado-box{
  background:#555;
}

.escuro nav{
  background:#0f4014;
}

.escuro footer{
  background:#111;
}

.escuro input{
  background:#666;
  color:white;
  border:1px solid #888;
}

.escuro .calculadora h2{
  color:#8bc34a;
}